@font-face {
	font-family: 'Proxima Nova';
	src: url('../src/assets/fonts/proxima-nova/ProximaNova-ExtraBold.woff2')
			format('woff2'),
		url('../src/assets/fonts/proxima-nova/ProximaNova-ExtraBold.woff')
			format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Proxima Nova' !important;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 38px 16px;
}
